@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




html {
  font-family: 'Public Sans', sans-serif;
}


body {
  min-height: 100vh;
  background: rgb(27, 99, 146);
  background: -webkit-linear-gradient(0deg, rgba(27, 99, 146, 1) 50%, rgba(25, 28, 31, 1) 50%);
  /* Safari/Chrome */
  background: linear-gradient(0deg, rgba(27, 99, 146, 1) 50%, rgba(25, 28, 31, 1) 50%);
  overflow-y: auto;
}